<!DOCTYPE html>

<html>
    <head>

        <title>Mental Health </title>
        <!--Links to bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        
        <!--Links to CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <!--Links to goodle Fonts-->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap" rel="stylesheet">
        
    </head>

    <body>
        
        
        <h1> Mental Health and Meditation </h1>

        <div > <!--Background image-->
        
        <h3> </h3>
        <div id="header">

            <div id="header2">
                <div class="link"><a href="/">Home</a></div>
                <div class="link"><a href="/meditation">Meditation Guide</a></div>
                <div class="link"><a href="/gallery">Gallery</a></div>
                <div class="link"><a href="/contact">Contact Us</a></div>
            </div>
        </div>
        <br>
        <div id="home">
        <h2>Welcome to Our Page, We value the well-being of mental health and use meditation as a guide and path to health. </h2>
        <br>
        <p>Here you are going to find a guide for start meditation. A galery with some ideas. 
            <br>
            "Brilliant things happen in calm minds. Be calm. You're brilliant."</p>
        <br>
        <h2>Food is the Aliment for the soul</h2>
        <br>
        <p>Have you heard that food is the Aliment for your soul ?
            <br>Well, that is true, eating health make your brain working healthy and your body have enough energy to go though the day.
            <br>
            <br>
            <img src="{{ url_for('static', filename='food.jpg') }}"/>
        </p>
        <br>
        <h2>Exercises and Activities</h2>
        <br>
        <p>Exercise is important for deliver oxygen and nutrients for your body and help your organs working better and extending their life. </p>
        <br>
        <h2>Family and Friends</h2>
        <br>
        <p>Being around good pleople boost your energy and bring positivity to your life. Make good friends and have fun with them and your family.</p>
        <br>
        <img src="{{ url_for('static', filename='friends.jpg') }}"/>
        <br>
        <br>
        <h2>Hobbies</h2>
        <br>
        <p>Find a Hobbie ! Crafts, Art, travelling, hiking, painting, cooking, doing what you love make you happy!</p>
        <br>
        <img src="{{ url_for('static', filename='hobbie.png') }}"/>
        <br>
     </div>

    </body>
</html>