<!DOCTYPE html>

<html>
    <head>

        <title>Mental Health </title>
        <!--Links to bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        
        <!--Links to CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <!--Links to goodle Fonts-->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap" rel="stylesheet">
        
    </head>

    <body>
        
        <!-- <div id="header1"><img src="logo.jpg" alt="Logo"></div> this is the logo image -->
        
        <!-- <h1> Mental Health and Meditation </h1> -->

        <div > <!--Background image-->
        
        <h3> </h3>
        <div id="header">

            <div id="header2">
                <div class="link"><a href="/">Home</a></div>
                <div class="link"><a href="/meditation">Meditation Guide</a></div>
                <div class="link"><a href="/gallery">Gallery</a></div>
                <div class="link"><a href="/contact">Contact Us</a></div>
            </div>
        </div>

        <!-- Meditation Guide-->
        <div id="med">
        <br>
        <h2>Meditation Guide</h2>
        <br>
        <h3> 1- Prepare yourself and your space.</h3>
        <br>
        <p id="prep">
            One of the purposes and benefits of meditation is relaxation and rest, so look for the quietest place to start your practice and get disconnected.
            <br>
            
                <li>Decorate your space with flowers, candles or incenses</li>
                <li>Keep the lights low or off to help concentrate</li>
                <!-- <li>Go to toilet</li> -->
                <li>Eat and drink water (not much) </li>
                <li>Start to breath slowly</li>
                <li>Set a time alarm (start with 5-10 minuts for the first and increase weekly)and do not look the phone in between.</li>
            
        </p>
            <br>
        <h3> 2- Start Meditation </h3>
        <br>
        <p id="prep">
            Sit in a cushion or a comfortable place, the important is the your back stay in a straight position, you can see the correction positions in the <a id="tab" href="galery.html" target="_blank">galery</a>.
        
            <li>Relax your facial muscles, do not keep them tense, you can even open your mouth</li>
            <li>Put your head lower to open your cheast and help your breath</li>
            <li>Set the alarm</li>
            <li>Concentrate in your breath</li>
            <li>Feel comfortable to close your eyes</li>
        
        </p>
            <br>
        <h3> The Must's</h3>
        <br>
        <p id="must">
                Recognize your progress, you are dedicating a special time of your day for yourself and this will just bring you benefits, do not push yourself too much, remember 
                <br>meditation is for relaxation if you are stressing to start or to do it, something is wrong.
            Do not give up in the first or second or even third try, to creat a habit you need to try at least 9 times. Being patient is super important, results come with time and dedication.
        </p>
        </div>
        </body>
</html>